  body,
  html {
    min-height: 100vh;
    background-color: #24292e;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .container {
    text-align: center;
    padding-bottom: 2.5rem;
    
  }

  a {
    text-decoration: none;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
  }
  
 /* .loginButton {

  }        Reserved
  .registerButton {

  } */
  
  .loginButtonField {
    padding: 10px
  }

  .registerButtonField {
    padding: 10px
  }

  /* Main Pages screen size */
  .header {
    background-color: #1b1e22 ;
    min-height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-decoration:none;
    color: white
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

/* Main Pages screen size end */
.google-map{
  height: 50%;
  width: 80%;
  align-content: center;
  padding: 20px 150px;
}

/* Class */
  .navBar {
    padding: 0 40px;
    width: 100%;
    background-color: transparent;
    text-decoration:none;
    color:white;
    font-size: x-large;
  }

  .links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    text-decoration:none;
    color:white;
    }

  .navOptionsLink {
    color: white;
  }

  /* Media screen size */
  @media screen and (min-width: 768px) {
  
    .links {
        height: auto;
        display: flex;
    }

    li {
        padding: 0 15px;
    }
  }
  .modal { /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
 
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
 
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
 
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
 
/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 
.modal-header {
    padding: 2px 16px;
    background-color: #1f2329;
    color: white;
}
 
.modal-body {
  padding: 20px 16px;
  background-color: #2e343a;}
 
.modal-footer {
    padding: 2px 16px;
    background-color: #1f2329;
    color: white;
}
.display-block {
  display: block;
}
 
.display-none {
  display: none;
}

.homeWrapper {
  height: auto;
  max-width: 100%;
  justify-content: center;
}

.gallery {
  /* Prevent vertical gaps */
  width: 95%;
  margin: 5px;
  height: auto;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
}
.bigPic{
  height: auto;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.75)
  
}
.bigPic2{
  height: auto;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.2)
}

.profileWrapper {
  padding:40px;
  border-width: 10px;
  border-style: solid;
  flex: auto;
  color: white
}

@media screen and (max-width: 960px) {
  .parent {width: 100%; margin: 20px 0px}
  .wrapper {padding: 20px 20px;}
}