  .container {
    text-align: center;
    height: calc(100% - 60px);
  }

  a {
    text-decoration: none;
  }
  
  .loginButton {

  }
  .registerButton {
  }
  
  .loginButtonField {
    padding: 10px
  }

  .registerButtonField {
    padding: 10px
  }

  /* Main Pages screen size */
  .header {
    background-color: #24292e ;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-decoration:none;
    color: white
  }

  .footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    height:60px;  
    background: #24292e ;
  }

  .homepage{
    height:100%;
    width: 100%;
    background: rgba(12, 12, 11, 0.548);
  }

  .products{
    height:600px;
    width: 100%;
    background: beige;
    display: flex;
  }

  .aboutUs{
    height:600px;
    width: 100%;
    background: beige;
  }

  .contactUs{
    height:600px;
    width: 100%;
    background: beige;
  }

  .profilePage{
    height:600px ;
    width: 100%;
    background: beige;
  }
  .myGroups{
    height:600px ;
    width: 100%;
    background: beige;
  }
  .myTopics{
    height:600px ;
    width: 100%;
    background: beige;
  }

/* Main Pages screen size end */
.google-map{
  height: 50%;
  width: 80%;
  align-content: center;
  padding: 20px 150px;
}
  .productDropDown{
    color:black;
    display: flex;
    flex-direction: column;
  }

  .seperator{
    height: 100%;
    width: 5%;
  }

  .productContainer{
    height: 100%;
    width: 75%
  }

  li {
    padding: 10px 0;
    color:white;
  }

  /* Class */
  .navBar {
    padding: 0 40px;
    width: 100%;
    background-color: transparent;
    text-decoration:none;
    color:white;
    font-size: x-large;
  }

  .navButton{
    vertical-align:middle;
    padding: 0 40px;
    color: white;
  }

  .navButton:hover {
    background-color: lightblue;
  }

  .navOptions {
    height: 100%;
    width: 20%;
    text-decoration: none;
    list-style: none;
    color: Black;
  }

  .dropLink {
    text-decoration: none;
    list-style: none;
  }

  .links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  text-decoration:none;
  color:white;
  }

  .navOptionsLink {
    color: white;
  }

  /* Media screen size */
  @media screen and (min-width: 768px) {
  
    .links {
        height: auto;
        display: flex;
    }

    li {
        padding: 0 15px;
    }
  }
  .modal { /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
 
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
 
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
 
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
 
/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 
.modal-header {
    padding: 2px 16px;
    background-color: #451b04;
    color: white;
}
 
.modal-body {padding: 20px 16px;}
 
.modal-footer {
    padding: 2px 16px;
    background-color: #451b04;
    color: white;
}
.display-block {
  display: block;
}
 
.display-none {
  display: none;
}