  body,
  html {
    height: calc(100% - 60px);
    background-color: #24292e;
    display: block;
    justify-content: center;
  }
  .containerMain {
    text-align: center;
    padding-bottom: 2.5rem;
  }

  a {
    text-decoration: none;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
  }
  
 /* .loginButton {

  }        Reserved
  .registerButton {

  } */
  
  .loginButtonField {
    padding: 10px;
    width: 20%;
  }

  .registerButtonField {
    padding: 10px;
    width: 20%
  }

  /* Main Pages screen size */
  .header {
    background-color: #222b35 ;
    min-height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-decoration:none;
    color: white
  }

  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

.google-map{
  height: 50%;
  width: 80%;
  align-content: center;
  padding: 20px 150px;
}

  .navBar {
    padding: 0 40px;
    width: 100%;
    background-color: transparent;
    text-decoration:none;
    color:white;
    font-size: x-large;
  }

  .links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    text-decoration:none;
    color:white;
    }

  .navOptionsLink {
    color: white;
  }

  /* Media screen size */
  @media screen and (min-width: 768px) {
    .links {
        height: auto;
        display: flex;
    }

    li {
        padding: 0 15px;
    }
  }
  .modal { /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
 
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
 
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
 
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
 
/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 
.modal-header {
    padding: 2px 16px;
    background-color: #1f2329;
    color: white;
}
 
.modal-body {
  padding: 20px 16px;
  background-color: #2e343a;}
 
.modal-footer {
    padding: 2px 16px;
    background-color: #1f2329;
    color: white;
}
.display-block {
  display: block;
}
 
.display-none {
  display: none;
}

.homeWrapper {
  height: 100%;
  max-width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 80px;
  /*hard coded center*/
}

.gallery {
  /* Prevent vertical gaps */
  width: 95%;
  margin: 5px;
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.bigPic{
  height: auto;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.75)
  
}
.bigPic2{
  height: auto;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.2)
}

.profileWrapper {
  padding:40px;
  border-width: 8px;
  border-style: solid;
  flex: auto;
  color: white
}

@media screen and (max-width: 960px) {
  .parent {width: 100%; margin: 20px 0px}
  .wrapper {padding: 20px 20px;}
}


.banner{
  background-color: #444e5c;
  color: white;
  text-align: center;
  border-style: hidden;
  border-radius: 15px;
  font-family: 'Ruda', sans-serif;
}

#profilepic{
    border-radius: 85px;
    padding-top: 7px;
}

.about{
    background-color:#444e5c;
    color: white;
    border-radius: 15px;
    border-style: hidden;
    padding: 18px; 
    text-align: center;
}

.about>p{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.about>h1{
    font-family: 'Ruda', sans-serif;
}

.flex-project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-project-container>div{
    background-color: #444e5c;
    width: 150px;
    height: 150px;;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-style: hidden;
    border-radius: 30px;
}

.flex-project-container img{
    margin-top: 27px;
}

.flex-project-container > div:hover
{
transform: scale(1.1);

}

.projects{
    background-color:#444e5c;
    border-radius: 15px;
    border-style: hidden;
    padding: 18px; 
    text-align: center;
    
}
.projects h1{
    font-family: 'Ruda', sans-serif;
}

.projects p{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    
}

.container a:hover
{
  
transform: scale(1.1);
}

.container-1{
    color: #f1f1f1;
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
   
     
}

#contactimg{
    border-style: hidden;
    background-color: #f1f1f1;
    border-radius: 90px;
    
}

.container-1 > a{
    padding-left: 5px;
    font-size: 22px;
    text-decoration: none;    
}


#mail{
    text-decoration: none;
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#mailmelogo{
    border-style: hidden;
    border-radius:5px;
    width:15px;
    height:15px;  
}

.skillHeader {
  color: white;
  background-color:#444e5c;
  height: 60px;
}

.portfolioGallery {
   width: 95%;
  margin: 5px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-Color: white;

}
.avatar {
  background-color: primary,
}

.form {
  width: 100%;
  background-Color: white;
  color: black
}
.submit {
  margin: 20px;
}